@media only screen and (max-width: 800px) {
    table {
        display: none;
    }

    .large {
        font-size: 50px;
    }
    
    .small {
        font-size: 15px;
    }

    h3 {
        font-size: 20px;
        margin-top: 5px;
        margin-bottom: 0px;
    }

    .select_options {
        padding-top: 10px;
    }

    .dropdown_options {
        flex-direction: column;
    }

    .dropdown_container {
        padding: 5px;
    }

    h5 {
        margin: 10px;
        }

    #ratio {
        margin-right: 22px;;
    }

    input:hover {
        background-color: white;
    }
    .mobile_table {
        display: block;
    }
    
    #mobile_output .open{
        display: flex;
        flex-direction: column;
        padding-left: -0px;
        padding-right: 0px;
    }

    #mobile_output {
        display: flex;
        flex-wrap: wrap;
        padding-left: 10px;
        margin-top: 10px
    }    
    
    .result {
        display: flex;
        flex-direction: column;
        border: black 2px solid;
        padding: 10px;
        width: 165px;
        font-weight: bold;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
    }
    
    .result p {
        margin: 0.5px;
    }
    
    .result:nth-child(even) {
        background-color: #15501a;
    }
}
